<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.lm.layananmandiri_02">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_layanan_mandiri"
        android:label="Layanan Mandiri"
        android:roundIcon="@mipmap/icon_layanan_mandiri_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".LayananMain" />
        <activity android:name=".LaporActivity" />
        <activity android:name=".BantuanMain" />
        <activity android:name=".desa"></activity>
    </application>

</manifest>